@charset "UTF-8";

.message {
    line-height: 3;
    font-size: 1rem;
}
.message>span {
    font-size: 1.5rem;
    padding: 0 5px;
}
.rules span {
    display: block;
    margin-bottom: 40px;
    font-size: 2rem;
    line-height: 3rem;
    color: #fff;
    text-shadow: 3px 7px 4px #24140e96
}
p {
    line-height: 3;
    font-size: 1rem;
}

/* about_top背景、文字 */
.about_container {
    background: #fff;
    position: relative;
    top: -50px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 60px;
    color: #24140e;
}
.joys_container02 {
    min-height: 1100px;
    width: 100%;
    background: url(../img/en_unyo_back.png) ;
    background-size: cover;
    position: relative;
    margin: 50px auto -160px;
    text-align: center;
    padding: 130px 60px 30px;
    color: #24140e;
}

dt {
    font-size: 30px;
    padding: 5px 0;
}

dd {
    font-size: 18px;
    padding: 0 0 30px;

}

/* 下から */

/*==================================================
ふわっ
===================================*/


/* fadeUp */

.fadeIn{
animation-name:fadeUpAnime;
animation-duration:1.0s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeUpAnime{
    from {
    opacity: 0;
    transform: translateY(100px);
    }

    to {
    opacity: 1;
    transform: translateY(0);
    }
}


/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
    
.fadeUpTrigger{
    opacity: 0;
}


@media only screen and (max-width: 500px) {
p {
    line-height: 3;
    font-size: 0.8rem;
}
dt {
    font-size: 26px;
    padding: 5px 0;
}
}