@charset "UTF-8";
.about_container {
    background: #fff;
    position: relative;
    top: -50px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 60px;
    color: #24140e;
}
strong {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.4rem;
    padding-bottom: 10px;
}

h4 {
    font-size: 1.1rem;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
}
#contents p {
    font-size: 0.9rem;
    padding-left: 30px;
    padding-bottom: 10px;
}

.tabMenu {
    display: flex;
    /* margin-left: 120px; */
    margin-top: 50px;
    /* border-bottom: 2px solid #f90; */
    align-items: flex-end; /* メニューを下揃え&高さを調整 */
    max-width: 1280px;
}
.tabMenu li/*タブ*/{
    float: left;
    margin-left: 20px;
    list-style-type:none ;
    display: block;
    position: relative;
}

.tab1 a{
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color:#fff;
    background-color:#24140e ;
    border-width:2px 2px 0px 2px ;
    border-style: solid;
    border-color: #24140e;
    /* border-bottom: 2px solid #06f; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 250px;
    height: 72px;
    position: relative;
    z-index: 0;
}

.tab2 a{
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color:#fff;
    background-color:#24140e ;
    border-width:2px 2px 0px 2px ;
    border-style: solid;
    border-color: #24140e;
    /* border-bottom: 2px solid #06f; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 250px;
    height: 72px;
    position: relative;
    z-index: 0;
}
.tab3 a{
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color:#fff;
    background-color:#24140e ;
    border-width:2px 2px 0px 2px ;
    border-style: solid;
    border-color: #24140e;
    /* border-bottom: 2px solid #06f; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 250px;
    height: 72px;
    position: relative;
    z-index: 0;
}

.tab1.active{
    z-index: 10;
}
.tab2.active{
    z-index: 10;
}
.tab3.active{
    z-index: 10;
}
.tabMenu a:hover{
    opacity: 1;
    text-decoration: underline;
}

.tab1 a.current{
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: #24140e;
    background-color:#fff ;
    border-width:2px 2px 0px 2px ;
    border-style: solid;
    border-color: #f5deb3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 250px;
}
.tab2 a.current{
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: #24140e;
    background-color:#fff ;
    border-width:2px 2px 0px 2px ;
    border-style: solid;
    border-color: #f5deb3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 250px;
}
.tab3 a.current{
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: #24140e;
    background-color:#fff ;
    border-width:2px 2px 0px 2px ;
    border-style: solid;
    border-color: #f5deb3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 250px;
}
#tab1/*アトラクション中身*/{
    border-top: 2px solid #f5deb3;
    background-color: #fff;
    padding: 50px;
    margin-top: -3px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    text-align: left;
    color: #24140e;
    border-radius: 20px;
}

#tab2/*アクティビティ中身*/{
    border-top: 2px solid #f5deb3;
    background-color: #fff;
    padding: 50px;
    margin-top: -3px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    text-align: left;
    color: #24140e;
    border-radius: 20px;
}

#tab3/*アクティビティ中身*/{
    border-top: 2px solid #f5deb3;
    background-color: #fff;
    padding: 50px;
    margin-top: -3px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    text-align: left;
    color: #24140e;
    border-radius: 20px;
}



/* ここから
レスポンシブ対応
はじまります */

@media screen and (max-width: 950px){

    .tabMenu {
        display: flex;
        margin-left: 0px;
        margin-top: 20px;
        align-items: flex-end; /* メニューを下揃え&高さを調整 */
        justify-content: center;
    }
    .tabMenu li/*タブ*/{
        float: left;
        list-style-type:none ;
        display: block;
        position: relative;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .tab1 a{
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color:#fff;
        background-color:#24140e ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #24140e;
        /* border-bottom: 2px solid #06f; */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 14px;
        padding-bottom: 4px;
        width: 200px;
        height: 60px;
        justify-content: center;
        position: relative;
        z-index: 0;
    }
    
    .tab2 a{
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color:#fff;
        background-color:#24140e ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #24140e;
        /* border-bottom: 2px solid #06f; */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 14px;
        padding-bottom: 5px;
        width: 200px;
        height: 60px;
        justify-content: center;
        position: relative;
        z-index: 0;
    }
    .tab3 a{
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color:#fff;
        background-color:#24140e ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #24140e;
        /* border-bottom: 2px solid #06f; */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 14px;
        padding-bottom: 5px;
        width: 200px;
        height: 60px;
        justify-content: center;
        position: relative;
        z-index: 0;
    }
    
    .tab1.active{
        z-index: 10;
    }
    .tab2.active{
        z-index: 10;
    }
    .tab3.active{
        z-index: 10;
    }
    .tabMenu a:hover{
        opacity: 1;
        text-decoration: underline;
    }
    
    .tab1 a.current{
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: #24140e;
        background-color:#fff ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #f5deb3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 14px;
        padding-bottom: 4px;
        width: 200px;
        height: 60px;
    }
    .tab2 a.current{
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: #24140e;
        background-color:#fff ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #f5deb3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 14px;
        padding-bottom: 5px;
        width: 200px;
        height: 60px;
    }
    .tab3 a.current{
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: #24140e;
        background-color:#fff ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #f5deb3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 14px;
        padding-bottom: 5px;
        width: 200px;
        height: 60px;
    }

    @media screen and (max-width: 755px){

        .tabMenu {
            display: flex;
            margin-left: 0px;
            margin-top: 20px;
            align-items: flex-end; /* メニューを下揃え&高さを調整 */
        }
        .tabMenu li/*タブ*/{
            float: left;
            list-style-type:none ;
            display: block;
            position: relative;
            margin-left: 3px;
            margin-right: 3px;
        }
        
        .tab1 a{
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            color:#fff;
            background-color:#24140e ;
            border-width:2px 2px 0px 2px ;
            border-style: solid;
            border-color: #24140e;
            /* border-bottom: 2px solid #06f; */
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding-top: 8px;
            padding-bottom: 4px;
            width: 90px;
            height: 60px;
            position: relative;
            z-index: 0;
        }
        
        .tab2 a{
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            color:#fff;
            background-color:#24140e ;
            border-width:2px 2px 0px 2px ;
            border-style: solid;
            border-color: #24140e;
            /* border-bottom: 2px solid #06f; */
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding-top: 7px;
            padding-bottom: 5px;
            width: 90px;
            height: 60px;
            position: relative;
            z-index: 0;
        }
        .tab3 a{
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            color:#fff;
            background-color:#24140e ;
            border-width:2px 2px 0px 2px ;
            border-style: solid;
            border-color: #24140e;
            /* border-bottom: 2px solid #06f; */
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding-top: 7px;
            padding-bottom: 5px;
            width: 90px;
            height: 60px;
            position: relative;
            z-index: 0;
        }
        
        .tab1.active{
            z-index: 10;
        }
        .tab2.active{
            z-index: 10;
        }
        .tab3.active{
            z-index: 10;
        }
        .tabMenu a:hover{
            opacity: 1;
            text-decoration: underline;
        }
        
        .tab1 a.current{
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            color: #24140e;
            background-color:#fff ;
            border-width:2px 2px 0px 2px ;
            border-style: solid;
            border-color: #f5deb3;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding-top: 8px;
            padding-bottom: 4px;
            width: 90px;
            height: 60px;
        }
        .tab2 a.current{
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            color: #24140e;
            background-color:#fff ;
            border-width:2px 2px 0px 2px ;
            border-style: solid;
            border-color: #f5deb3;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding-top: 7px;
            padding-bottom: 5px;
            width: 90px;
            height: 60px;
        }
        .tab3 a.current{
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            color: #24140e;
            background-color:#fff ;
            border-width:2px 2px 0px 2px ;
            border-style: solid;
            border-color: #f5deb3;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding-top: 7px;
            padding-bottom: 5px;
            width: 90px;
            height: 60px;
        }
        
    }
}
@media only screen and (max-width: 500px) {
    strong {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.0rem;
        margin-top: 10px;
        padding-left: 5px;
    }
    
    h4 {
        font-size: 0.9rem;
        padding-top: 15px;
        padding-left: 8px;
        padding-bottom: 10px;
    }
    #contents p {
        font-size: 0.8rem;
        padding-left: 13px;
        padding-bottom: 10px;
    }

    .tabMenu {
        display: flex;
        margin-left: 0px;
        margin-top: 20px;
        align-items: flex-end; /* メニューを下揃え&高さを調整 */
    }
    .tabMenu li/*タブ*/{
        float: left;
        list-style-type:none ;
        display: block;
        position: relative;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .tab1 a{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color:#fff;
        background-color:#24140e ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #24140e;
        /* border-bottom: 2px solid #06f; */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 8px;
        padding-bottom: 4px;
        width: 90px;
        height: 60px;
        position: relative;
        z-index: 0;
    }
    
    .tab2 a{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color:#fff;
        background-color:#24140e ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #24140e;
        /* border-bottom: 2px solid #06f; */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 7px;
        padding-bottom: 5px;
        width: 90px;
        height: 60px;
        position: relative;
        z-index: 0;
    }
    .tab3 a{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color:#fff;
        background-color:#24140e ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #24140e;
        /* border-bottom: 2px solid #06f; */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 7px;
        padding-bottom: 5px;
        width: 90px;
        height: 60px;
        position: relative;
        z-index: 0;
    }
    
    .tab1.active{
        z-index: 10;
    }
    .tab2.active{
        z-index: 10;
    }
    .tab3.active{
        z-index: 10;
    }
    .tabMenu a:hover{
        opacity: 1;
        text-decoration: underline;
    }
    
    .tab1 a.current{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: #24140e;
        background-color:#fff ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #f5deb3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 8px;
        padding-bottom: 4px;
        width: 90px;
        height: 60px;
    }
    .tab2 a.current{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: #24140e;
        background-color:#fff ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #f5deb3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 7px;
        padding-bottom: 5px;
        width: 90px;
        height: 60px;
    }
    .tab3 a.current{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: #24140e;
        background-color:#fff ;
        border-width:2px 2px 0px 2px ;
        border-style: solid;
        border-color: #f5deb3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 7px;
        padding-bottom: 5px;
        width: 90px;
        height: 60px;
    }
    #tab1/*アトラクション中身*/{
        border-top: 2px solid #f5deb3;
        background-color: #fff;
        padding: 10px;
        margin-top: -3px;
        margin-bottom: 50px;
        z-index: 1;
        position: relative;
        text-align: left;
        color: #24140e;
        border-radius: 20px;
    }
    
    #tab2/*アクティビティ中身*/{
        border-top: 2px solid #f5deb3;
        background-color: #fff;
        padding: 10px;
        margin-top: -3px;
        margin-bottom: 50px;
        z-index: 1;
        position: relative;
        text-align: left;
        color: #24140e;
        border-radius: 20px;
    }
    
    #tab3/*アクティビティ中身*/{
        border-top: 2px solid #f5deb3;
        background-color: #fff;
        padding: 10px;
        margin-top: -3px;
        margin-bottom: 50px;
        z-index: 1;
        position: relative;
        text-align: left;
        color: #24140e;
        border-radius: 20px;
}
}