@charset "UTF-8";

/* ブランド */
h3 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 2;
}
/* 商品名 */
h4 {
    font-size: 26px;
}
.about_container {
    background: #fff;
    position: relative;
    top: -50px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 20px;
    color: #24140e;
}
.products_box {
    margin: 20px 0 ;

}
.products_box span {
    display: block;
    font-size: 18px;
    padding: 20px 0 10px;
}