@charset "UTF-8";

*{
    box-sizing:border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
ruby,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
label,
header,
footer,
hgroup,
menu,
nav,
main,
article,
section,
aside,
details,
figure,
figcaption,
canvas,
embed,
output,
summary,
time,
mark,
audio,
video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
}

header,
footer,
hgroup,
menu,
nav,
main,
article,
section,
aside,
details,
figure,
figcaption{
    display:block;
}

body{
    line-height:1;
}

ol,
ul{
    list-style:none;
}

hr{
    display:none;
}

address,
em{
    font-style:normal;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

img,
video{
    vertical-align:bottom;
}

/* Fonts
---------------------------------------------------*/
body{
    font-family:"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Hiragino Sans","ヒラギノ角ゴシック","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}

